<!DOCTYPE html>
<html>
    <head>
        <title>Conference</title>
        #parse("blocks/head.vm")
    </head>
    <body>
    	 #if ($isLogged)
    	<div class="header"><a href="#springUrl('/logout.html')">Logout</a>
    		#parse("blocks/selectItemsPerPage.vm")
        </div>
    	 #else
        <div class="header">Hi! <a href="#loginModal">Sign in</a> or <a href="#registerModal">register</a>
            #parse("blocks/selectItemsPerPage.vm")
        </div>
        #end
        <div id="wrapper">
            <div class="menu">
                <a href="#springUrl('/')">Main</a>
                #if ($isLogged)
                	<a href="#springUrl('/participation.html')">Participation</a>
            	#end
            </div>
            <div class="content">
            	<form method="post" action="" id="filters">
                <div class="formGroup">
                    <label for="filterStart">Start Date</label>
                    <input type="text" name="start" id="filterStart" class="datePicker" onchange="filterChange()" value="$startDate" pattern="^\d{4}-(0[1-9]|1[1,2])-(0[1-9]|[1,2][0-9]|3[0,1])$">
                </div>
                <div class="formGroup">
                    <label for="filterEnd">End Date</label>
                    <input type="text" name="end" id="filterEnd" class="datePicker" onchange="filterChange()" value="$endDate" pattern="^\d{4}-(0[1-9]|1[1,2])-(0[1-9]|[1,2][0-9]|3[0,1])$">
                </div>
                <div class="formGroup">
                	<label for="categories">Categories</label>
                    <select id="categories" onchange="filterChange()">
                    	<option value="">Not selected</option>
                    	#foreach($key in $categoriesList.keySet())
                    		#set($list = $categoriesList.get($key))
                    		<optgroup label="$key">
                    			#foreach($cat in $list)
                    				#if ($cat.subCategoryId == $categoryId)
    									<option value="$cat.subCategoryId" selected>$cat.subCategoryName</option>
    								#else
        								<option value="$cat.subCategoryId">$cat.subCategoryName</option>
        							#end
                    			#end
                    		</optgroup>
                    	#end
                    </select>
                </div>
        		</form>
        		<table id="conferenceList">
        			<colgroup>
       					<col span="1" style="width: 24%;">
       					#if ($isLogged)
                			<col span="1" style="width: 5%;">
                		#end
       					<col span="1" style="width: 15%;">
       					<col span="1" style="width: 10%;">
       					<col span="1" style="width: 8%;">
       					<col span="1" style="width: 8%;">
       					<col span="1" style="width: 26%;">
       					<col span="1" style="width: 4%;">
    				</colgroup>
					<tr>
					<th>Conference title</th>
					#if ($isLogged)
                		<th>Participant</th>
                	#end
					<th>Speaker</th>
					<th>Category</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Description</th>
					<th></th>
					</tr>
					#foreach($conference in $conferencesList)
						<tr>
							<td>$esc.html($conference.title)</td>
							#if ($isLogged)
                				#if ($conference.isParticipant())
                					<td align="center">
                						<img src="#springUrl('/resources/images/v.png')">
                					</td>
                				#elseif ($conference.isOwner())
                					<td></td>
                				#else
                					<td align="center">
                						<a onclick="attendConference($conference.conferenceId, this)" href="javascript:void(0)">
                							<img src="#springUrl('/resources/images/x.png')">
                						</a>
                					</td>
                				#end
                			#end
							<td>$esc.html($conference.creatorName)</td>
							<td>$esc.html($conference.categoryName)</td>
							<td>$esc.html($conference.startDate)</td>
							<td>$esc.html($conference.endDate)</td>
							<td>$esc.html($conference.description)</td>
							<td><a onclick="showSummary($conference.conferenceId)" href="javascript:void(0)">Details</a></td>
                    	</tr>
                    #end
				</table>
				<nav class="centerElem">
					#if ($hasPriorPage != "")
                		<a href="#springUrl($hasPriorPage)">&lt;&lt;Prior</a>
                	#else
                		<span>&lt;&lt;Prior</span>
            		#end
            		#if ($hasNextPage != "")
                		<a href="#springUrl($hasNextPage)">Next&gt;&gt;</a>
                	#else
                		<span>Next&gt;&gt;</span>
            		#end
				</nav>
            </div>
        </div>
        <div id="loginModal" class="modalDialog">
        	<div>
			<a onclick="resetModalWindow(this, 'loginForm')" href="javascript:void(0)" title="Close" class="closeModal">X</a>
			<form id="loginForm">
            	<fieldset>
                <legend>Login form</legend>
                	<p>
                    <label>Email:</label>
                    <input type="text" name="j_username">
                    </p>
                    <p>
                    <label>Password:</label>
                    <input type="password" name="j_password">
                    </p>
                	<p class="centerElem">
                		<span id="loginWarning" class="error"></span>
                	</p>
                	<div class="centerElem">
                	<input id="submitLogin" type="submit" value="Login" onclick="clickLoginSubmit();return false;">
                	</div>
            	</fieldset>
        	</form>
        	</div>
		</div>
		<div id="registerModal" class="modalDialog">
			<div>
			<a onclick="resetModalWindow(this, 'registerForm')" href="javascript:void(0)" title="Close" class="closeModal">X</a>
			<form id="registerForm">
            	<fieldset>
                <legend>Registration form</legend>
                <p>
                    <label>Name:</label>
                    <div>
                    	<input type="text" name="name" />
                    	<span id="nameerror" class="fielderror"></span>
                    </div>
                </p>
                <p>
                    <label>Surname:</label>
                    <div>
                    <input type="text" name="surname">
                    <span id="surnameerror" class="fielderror"></span>
                    <div>
                </p>
                <p>
                    <label>Email:</label>
                    <div>
                    <input type="text" name="email">
                    <span id="emailerror" class="fielderror"></span>
                    </div>
                </p>
                <p>
                    <label>Country:</label>
                    <select name="country" onchange="getCitiesList()">
                    #foreach($country in $countriesList)
                    	<option value="$country.countryId">$country.countryName</option>
                    #end
                    </select>
                </p>
                <p>
                    <label>Town:</label>
                    <select name="town">
                    	<option value="Not selected">Not selected</option>
                    </select>
                </p>
                <p>
                    <label>Password:</label>
                    <div>
                    <input type="password" name="password">
                    <span id="passworderror" class="fielderror"></span>
                    </div>
                </p>
                <p class="centerElem">
                	<span id="registerWarning" class="error"></span>
                </p>
                <div class="centerElem">
                <input id="submitRegister" type="submit" value="Register" onclick="clickRegisterSubmit();return false;">
                </div>
            	</fieldset>
        	</form>
			</div>
		</div>
		#parse("blocks/conferenceSummary.vm")
		<script>
			window.contextPath = "#springUrl('')";
			getCitiesList();
			bindDatePickerEvents($('#filters'));
			fillRows('conferenceList');
		</script>
    </body>
</html>
